# Ignore all files by default
*

# Include specific folders and their contents
!.zshrc
!.p10k.zsh
!.gitignore
!i3status/
!i3status/**
!i3/
!i3/**
!README.md
!rofi/
!rofi/**
!tmux/
!tmux/**
!nvim/
!nvim/**
!kitty/
!kitty/**
!picom/
!picom/**
!dns.sh
!hypr/
!hypr/**
