# Ignore all files by default
*

# Include specific folders and their contents
!.zshrc
!.gitignore
!i3status/
!i3status/**
!i3/
!i3/**
!rofi/
!rofi/**
!tmux/
!tmux/**
!nvim/
!nvim/**
!kitty/
!kitty/**
!picom/
!picom/**
